$large : "(max-width:1599px)";        //1600보다 작은크기
$large-semi : "(max-width:1199px)";   //1200보다 작은크기
$medium : "(max-width:899px)";        //900보다 작은크기
$small : "(max-width:767px)";         //768보다 작은크기
$mobile : "(max-width:539px)";        //540보다 작은크기
$gradient : linear-gradient(45deg, #01f8f7,#001299);

@mixin space(){
  display: block; content: "";
}

ul::after ,
section::after{
  @include space();
  clear: both;
}

body{
  font: {
    family: Arial,'Noto Sans KR', Helvetica, sans-serif;
    size: 10px;
  }
}

header{
  position: fixed; top: 0; left: 0; width: 400px; height: 100%;
  background-image : $gradient;

  h1 {
    position: absolute; top: 50%; left: 50px;
    transform: translateY(-80%);
    color: #fff;
    line-height: 1;
    letter-spacing: 0.09em;
    font: {
      family: 'Orbitron', sans-serif;
      size: 5em;
      weight: 500;
    }
    &::after{
      @include space;
      width: 220px; height: 2px;
      background: #fff;
      margin-top: 10px;
    }
    &::before{
      @include space;
      bottom: -1.8em;
      position: absolute;
      content: "FRONTEND GALLERY";
      font-size: 0.3em;
      opacity: 0.7;
    }

    @media #{$large} { 
      left: 40px;
    }
    @media #{$large-semi} { 
      transform: translateY(-50%);
      font-size: 3.5em;
      &::after{
        width: 120px;
        margin-top: 5px;
      }
      &::before{
        display: none;
      }
    } //large-semi end-------->>>
    @media #{$mobile} { 
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 2.8em;
      &::after{
        width: 95px; 
      }
    }
  }

  .sns{
    position: absolute;
    bottom: 100px;
    right: 10em;
    li{
      float: left;
      margin: 0 1em;
      a{
        color: #fff;
        font-size: 1.3em;
        ion-icon{
          font-size: 1.3em;
          margin-right: 2px;
        }
      }
    }
    span {
      position: relative;
      top: -5px;
      @media #{$medium}{
        display: none;
      }
    }
    @media #{$large} { 
      right: 6em;
    }
    @media #{$large-semi} { 
      bottom: 30px;
      right: 1em;
    }
    @media #{$mobile} { 
      display: none;
    }
  } //sns END ==============>

  @media #{$large} { //1600보다 작아졌을때 
    width: 350px;
  }
  @media #{$large-semi} { //1200보다 작아졌을때 
    width: 100%; height: 80px;
    position: relative;
  }
}

main{
  margin-left: 400px;
  padding: 20px;

  @media #{$large} { 
    margin-left: 350px;
  }
  @media #{$large-semi} { 
    margin-left: 0;
    width: 100%;
  }
}

nav{
  margin-bottom: 15px;
  .btns{

  }
  li{
    float: right;
    width: 100px;
    height: 25px;
    margin-left: 20px;

    a{
      display: inline-block;
      width: 100%; height: 100%;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0,0,0.2);
      border-radius: 5px;
      font: {
        family: 'Orbitron', sans-serif;
        size: 1.5em;
        weight: 700;
      }
      color: #999;
      text-align: center;
      line-height: 25px;
      &:hover{
        background: $gradient;
        color: #fff;
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
      }
    }

    @media #{$mobile} {
      width: 33.33%;
      margin-left: 0;
      text-align: center;
      a{
        width: 90%;
      }
    }

    &.on a {
			background: $gradient;
			color: #fff;
			box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
		}
  }
}

article{
  width: 20%;
  float: left;
  padding: 14px;
  div{
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    padding: 14px;
    border-radius: 5px;
  }
  img{
    width: 100%;
  }
  h2{
    margin: 10px 0 6px;
    color: rgb(54, 54, 54);
    font: {
      family: 'Orbitron', sans-serif;
      size: 1.4em;
      weight: 700;
    }
  }
  p{
    font-size: 1.1em;
    color: #777;
  }

  @media #{$large} {
    width: 25%;
  }
  @media #{$medium} {
    width: 33.33%;
  }
  @media #{$small} {
    width: 50%;
  }
  @media #{$mobile} {
    width: 100%;
  }
}

#popup{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgb(0 0 0 / 80%);

  div{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
  }

  img{
    width: auto; height: auto;
    max-width: 80vw; max-height: 60vh;
  }

  h2{
    margin: 16px 0 6px;
    color: rgb(54, 54, 54);
    font: {
      family: 'Orbitron', sans-serif;
      size: 2em;
      weight: 700;
    }
  }
  p{
    font-size: 1.1em;
    color: #777;
  }

  &.on{
    display: flex;
  }
}